.error {
  height: 400px;
  width: 400px;

  background-color: aliceblue;
  color: #9c9c9c;
  margin: 0 auto;
  margin-top: 100px;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  border-radius: 10px;
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
}

.error-titulo {
  font-size: 32px;
  color: #9c9c9c;
}

.error-img {
  width: 100px;
  height: 100px;
}

.error-titulo span {
  font-size: 120px;
}

.error > span {
  font-size: 16px;
  margin-bottom: 16px;
}

.error > button {
  background-color: #3948be;
  color: #ffe031;
  font-size: 16px;
  font-weight: bold;
  border-radius: 16px;

  height: 48px;
  width: 256px;

  cursor: pointer;
}
